.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(156, 156, 156, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
